body {
    font-family: Arial, sans-serif;
    background-color: #f7f5f5;
    color: #fff;
    margin: 0;
    padding: 0;
}

.testimonials-container {
    background-color: #1a1a1a;
    text-align: center;
    padding: 50px;
}

h2 {
    margin-bottom: 30px;
}

.testimonials {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.testimonial {
    background-color: #f1f0f0;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(64, 121, 148, 0.5);
    
}

.testimonial-page {
    display: none;
}

.testimonial-page.active {
    display: block;
}


.stars {
    color: rgb(255, 94, 0);
    font-size: 20px;
    margin-bottom: 10px;
}

.testimonial p {
    font-size: 14px;
    margin-bottom: 15px;
    color: #1a1a1a;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.customer-info {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.customer-info img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.customer-details p {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.navigation {
    margin-top: 20px;
    
}

.navigation button {
    background-color: #2f2f31;  
    border: none;
    color: #fff;
    padding: 10px 20px;
    box-shadow: #302f2f;
    cursor: pointer;
    border-radius: 100%;
    margin: 0 5px;
}

.navigation button:hover {
    background-color: #555;
}

.tools-container {
    text-align: center;
    padding: 50px;
}

.tools {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.tool {
    background-color: #1a4c58;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(41, 113, 161, 0.5);
    text-align: center;
}

.tool img {
    width: 280px;
    border-radius: 25px;
    margin-bottom: 25px;
}

.tool h3 {
    margin-bottom: 10px;
}

.tool p {
    font-size: 16px;
    margin-bottom: 15px;
}

.tool a {
    color: #1e90ff;
    text-decoration: none;
}

.tool a:hover {
    text-decoration: underline;
}

